@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --main-background: #eeeeeef8;
    --secondary-background: #eeeeeef5;
    --content: #eeeeeef1;
    --main-text: #0030ce;
    --secondary-text: #0028ad;
    --content-text: #00196d;
    --main-border: #003cff;
    --secondary-border: #0034e0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: var(--main-background);
    transition: all 1s ease;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    margin-bottom: 75px;
}

.dark-mode {
    background-color:   var(--main-border);
    border: 3px solid var(--main-border);
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--content);
    width: fit-content;
    height: fit-content;
    transition: all 0.1s ease-in-out;
}

.dark-mode i {
    pointer-events: none;
    user-select: none;
}

.dark-mode:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.personal-info {
    display: flex;
    background-color: var(--secondary-background);
    width: 80%;
    min-height: 100px;
    border-radius: 20px;
    padding: 30px;
    gap: 25px;
    border: 3px solid var(--main-border);
    transition: all 0.5s ease;
}

.personal-info:hover {
    transform: scale(1.01);
}

.personal-info > div {
    background-color: var(--content);
    flex: 1;
    border-radius: 10px;
    padding: 30px 50px;
    border: 3px solid var(--secondary-border);
    transition: all 0.25s ease;
}

.personal-info > div:hover {
    transform: scale(1.01);
}

.personal-info .about {
    flex: 2 1 0%;
}

.about h1 {
    color: var(--main-text);
    font-weight: 500;
    font-size: 50px;
    line-height: 0;
}

.about h2 {
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 30px;
    line-height: 0;
    margin-top: 60px;
}

.about-detail {
    color: var(--content-text);
    font-size: 20px;
    margin-top: 50px;
}

.about p {
    margin: 10px 0;
    font-weight: 500;
}

.contact {
    color: var(--content-text);
}

.contact h1 {
    color: var(--main-text);
    font-size: 40px;
}

.contact span, .contact p {
    font-size: 20px;
    font-weight: 500;
}

.contact span {
    border: 2px solid var(--main-border);
    color: var(--secondary-text);
    padding: 2.5px 5px;
    border-radius: 5px;
    font-weight: 500;
}

.contact i {
    color: var(--main-border);
    font-size: 40px;
    margin-right: 10px;
    transition: all 0.25s ease;
}

.contact i:hover {
    transform: scale(1.1);
    color: var(--secondary-text);
}

.contact-page {
    margin-top: 70px;
}

.contact-page h1 {
    line-height: 0;
    margin-bottom: 30px;
}

.personal-info .skills {
    flex: 2 1 0%;
}

.education h1, .skills h1 {
    line-height: 0;
    color: var(--main-text);
    font-size: 40px;
}

.education span {
    line-height: 45px;
}

.university {
    background-color: var(--main-border);
    border: 2px solid var(--main-border);
    color: var(--content);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}

.degree {
    border: 2px solid var(--main-border);
    color: var(--main-border);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}

.major {
    background-color: var(--main-text);
    border: 2px solid var(--main-border);
    color: var(--content);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}

.year {
    font-size: 25px;
    color: var(--secondary-text);
    font-weight: 600;
}

.gpa-header {
    background-color: var(--secondary-text);
    border: 2px solid var(--secondary-text);
    color: var(--content);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.gpa {
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid var(--secondary-text);
    padding: 5px 10px 5px 0;
}

.education h2 {
    color: var(--main-text);
    font-size: 35px;
    line-height: 0;
    margin-top: 50px;
    margin-bottom: 35px;
}

.education p {
    line-height: 5px;
    color: var(--content-text);
    font-size: 20px;
    font-weight: 500;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skills > div {
    background-color: var(--content);
    border-radius: 10px;
    border: 3px solid var(--secondary-border);
    transition: all 0.25s ease;
    min-height: 70px;
    padding: 10px 20px 20px 20px;
}

.skills h2 {
    line-height: 0;
    color: var(--secondary-text);
}

.coding, .framework {
    display: flex;
    flex-direction: column;
}

.skill-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-list div{
    border-radius: 5px;
    background-color: var(--main-border);
    color: var(--content);
    padding: 2.5px 5px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 500;
}

.lang-list {
    color: var(--content-text);
    font-weight: 500;
    font-size: 20px;
}

.lang-list i {
    color: var(--main-border);
}

.projects {
    background-color: var(--secondary-background);
    width: 80%;
    min-height: 100px;
    border-radius: 20px;
    padding: 30px;
    gap: 25px;
    border: 3px solid var(--main-border);
    transition: all 0.5s ease;
}

.projects:hover {
    transform: scale(1.01);
}

.project-header {
    border-radius: 10px;
    border: 3px solid var(--main-border);
    background-color: var(--secondary-border);
    padding: 10px;
    height: fit-content;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: var(--content);
}

.project-list {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    
}

.project {
    background-color: var(--content);
    border: 3px solid var(--secondary-border);
    border-radius: 10px;
    min-height: 80px;
    padding: 30px 30px 50px 30px;
    position: relative;
    transition: all 0.25s ease;
}

.project:hover {
    transform: scale(1.01);
}

.project h1 {
    margin-bottom: 40px;
    color: var(--main-text);
    line-height: 0;
    display: inline;
}

.project p {
    color: var(--content-text);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.project a {
    border: 3px solid var(--main-border);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--main-text);
    font-size: 18px;
    font-weight: 500;
    transition: all .25s ease-in-out;
}

.project a:hover {
    background-color: var(--main-text);
    color: var(--content);
}

/* media queries */

@media (max-width: 1800px) {
    .container {
        margin-top: 50px;
        row-gap: 50px;
        margin-bottom: 75px;
    }
    
    .dark-mode {
        padding: 5px 10px;
        width: fit-content;
        height: fit-content;
    }
    
    .dark-mode:hover {
        transform: scale(1.05);
    }
    
    .personal-info {
        width: 80%;
        min-height: 100px;
        padding: 30px;
        gap: 25px;
    }
    
    .personal-info:hover {
        transform: scale(1.01);
    }
    
    .personal-info > div {
        padding: 30px 50px;
    }
    
    .personal-info > div:hover {
        transform: scale(1.01);
    }
    
    .about h1 {
        font-weight: 500;
        font-size: 40px;
    }
    
    .about h2 {
        font-weight: 500;
        font-size: 25px;
        margin-top: 50px;
    }
    
    .about-detail {
        font-size: 18px;
        margin-top: 40px;
    }
    
    .about p {
        margin: 10px 0;
        font-weight: 500;
    }
    
    .contact h1 {
        font-size: 30px;
    }
    
    .contact span, .contact p {
        font-size: 18px;
        font-weight: 500;
    }
    
    .contact span {
        padding: 2.5px 5px;
        font-weight: 500;
    }
    
    .contact i {
        font-size: 30px;
        margin-right: 10px;
    }
    
    .contact i:hover {
        transform: scale(1.1);
    }
    
    .contact-page {
        margin-top: 70px;
    }
    
    .contact-page h1 {
        margin-bottom: 30px;
    }
    
    .education h1, .skills h1 {
        font-size: 30px;
    }
    
    .university {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 16px;
    }
    
    .degree {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 16px;
    }
    
    .major {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 16px;
    }
    
    .year {
        font-size: 22px;
        font-weight: 600;
    }
    
    .gpa-header {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 18px;
    }
    
    .gpa {
        font-weight: 700;
        font-size: 18px;
        padding: 5px 10px 5px 0;
    }
    
    .education h2 {
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 35px;
    }
    
    .education p {
        font-size: 16.5px;
        font-weight: 500;
    }
    
    .skills {
        gap: 25px;
    }
    
    .skills > div {
        min-height: 50px;
        padding: 10px 20px 20px 20px;
    }

    .skills h2 {
        font-size: 20px;
    }
    
    .skill-list {
        gap: 10px;
    }
    
    .skill-list div{
        padding: 2.5px 5px;
        width: fit-content;
        height: fit-content;
        font-size: 16px;
        font-weight: 500;
    }
    
    .lang-list {
        font-weight: 500;
        font-size: 16px;
    }
    
    .projects {
        width: 80%;
        min-height: 100px;
        padding: 30px;
        gap: 25px;
    }
    
    .projects:hover {
        transform: scale(1.01);
    }
    
    .project-header {
        padding: 10px;
        height: fit-content;
        font-size: 40px;
        font-weight: 500;
    }
    
    .project-list {
        margin-top: 25px;
        gap: 25px;
    }
    
    .project {
        min-height: 80px;
        padding: 30px 30px 50px 30px;
    }
    
    .project:hover {
        transform: scale(1.01);
    }
    
    .project h1 {
        margin-bottom: 40px;
        font-size: 30px;
    }
    
    .project p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .project a {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width: 1500px) {
    .container {
        margin-top: 50px;
        row-gap: 50px;
        margin-bottom: 75px;
    }
    
    .dark-mode {
        padding: 5px 10px;
        width: fit-content;
        height: fit-content;
    }
    
    .dark-mode:hover {
        transform: scale(1.05);
    }
    
    .personal-info {
        width: 80%;
        min-height: 100px;
        padding: 25px;
        gap: 25px;
    }
    
    .personal-info:hover {
        transform: scale(1.01);
    }
    
    .personal-info > div {
        padding: 25px 40px;
    }
    
    .personal-info > div:hover {
        transform: scale(1.01);
    }
    
    .about h1 {
        font-weight: 500;
        font-size: 35px;
    }
    
    .about h2 {
        font-weight: 500;
        font-size: 22px;
        margin-top: 40px;
    }
    
    .about-detail {
        font-size: 16px;
        margin-top: 30px;
    }
    
    .about p {
        margin: 10px 0;
        font-weight: 500;
    }
    
    .contact h1 {
        font-size: 30px;
    }
    
    .contact span, .contact p {
        font-size: 16px;
        font-weight: 500;
    }
    
    .contact span {
        padding: 2.5px 5px;
        font-weight: 500;
    }
    
    .contact i {
        font-size: 28px;
        margin-right: 5px;
    }
    
    .contact i:hover {
        transform: scale(1.1);
    }
    
    .contact-page {
        margin-top: 50px;
    }
    
    .contact-page h1 {
        margin-bottom: 30px;
    }
    
    .education h1, .skills h1 {
        font-size: 30px;
    }
    
    .university {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .degree {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .major {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .year {
        font-size: 20px;
        font-weight: 600;
    }
    
    .gpa-header {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 20px;
    }
    
    .gpa {
        font-weight: 700;
        font-size: 20px;
        padding: 5px 10px 5px 0;
    }
    
    .education h2 {
        font-size: 26px;
        margin-top: 50px;
        margin-bottom: 35px;
    }
    
    .education p {
        font-size: 14px;
        font-weight: 500;
    }
    
    .skills {
        gap: 20px;
    }
    
    .skills > div {
        min-height: 50px;
        padding: 10px 20px 20px 20px;
    }

    .skills h2 {
        font-size: 18px;
    }
    
    .skill-list {
        gap: 10px;
    }
    
    .skill-list div{
        padding: 2.5px 5px;
        width: fit-content;
        height: fit-content;
        font-size: 16px;
        font-weight: 500;
    }
    
    .lang-list {
        font-weight: 500;
        font-size: 16px;
    }
    
    .projects {
        width: 80%;
        min-height: 100px;
        padding: 30px;
        gap: 20px;
    }
    
    .projects:hover {
        transform: scale(1.01);
    }
    
    .project-header {
        padding: 10px;
        height: fit-content;
        font-size: 35px;
        font-weight: 500;
    }
    
    .project-list {
        margin-top: 25px;
        gap: 25px;
    }
    
    .project {
        min-height: 80px;
        padding: 30px 30px 50px 30px;
    }
    
    .project:hover {
        transform: scale(1.01);
    }
    
    .project h1 {
        margin-bottom: 40px;
        font-size: 24px;
    }
    
    .project p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .project a {
        padding: 5px 10px;
        font-size: 12.5px;
        font-weight: 500;
    }
}

@media (max-width: 1300px) {
    .container {
        margin-top: 50px;
        row-gap: 50px;
        margin-bottom: 75px;
    }
    
    .dark-mode {
        padding: 5px 10px;
        width: fit-content;
        height: fit-content;
    }
    
    .dark-mode:hover {
        transform: scale(1.05);
    }
    
    .personal-info {
        width: 80%;
        min-height: 100px;
        padding: 25px;
        gap: 25px;
    }
    
    .personal-info:hover {
        transform: scale(1.01);
    }
    
    .personal-info > div {
        padding: 20px 30px;
    }
    
    .personal-info > div:hover {
        transform: scale(1.01);
    }
    
    .about h1 {
        font-weight: 500;
        font-size: 32px;
    }
    
    .about h2 {
        font-weight: 500;
        font-size: 20px;
        margin-top: 35px;
    }
    
    .about-detail {
        font-size: 16px;
        margin-top: 30px;
    }
    
    .about p {
        margin: 10px 0;
        font-weight: 500;
    }
    
    .contact h1 {
        font-size: 26px;
    }
    
    .contact span, .contact p {
        font-size: 16px;
        font-weight: 500;
    }
    
    .contact span {
        padding: 2.5px 5px;
        font-weight: 500;
    }
    
    .contact i {
        font-size: 28px;
        margin-right: 5px;
    }
    
    .contact i:hover {
        transform: scale(1.1);
    }
    
    .contact-page {
        margin-top: 50px;
    }
    
    .contact-page h1 {
        margin-bottom: 28px;
    }
    
    .education h1, .skills h1 {
        font-size: 25px;
    }
    
    .university {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 13px;
    }
    
    .degree {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 13px;
    }
    
    .major {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 13px;
    }
    
    .year {
        font-size: 18px;
        font-weight: 600;
    }
    
    .gpa-header {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 16px;
    }
    
    .gpa {
        font-weight: 700;
        font-size: 16px;
        padding: 5px 10px 5px 0;
    }
    
    .education h2 {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    
    .education p {
        font-size: 14px;
        font-weight: 500;
    }
    
    .skills {
        gap: 18px;
    }
    
    .skills > div {
        min-height: 50px;
        padding: 10px 20px 20px 20px;
    }

    .skills h2 {
        font-size: 18px;
    }
    
    .skill-list {
        gap: 10px;
    }
    
    .skill-list div{
        padding: 2.5px 5px;
        width: fit-content;
        height: fit-content;
        font-size: 15px;
        font-weight: 500;
    }
    
    .lang-list {
        font-weight: 500;
        font-size: 15px;
    }
    
    .projects {
        width: 80%;
        min-height: 100px;
        padding: 30px;
        gap: 18px;
    }
    
    .projects:hover {
        transform: scale(1.01);
    }
    
    .project-header {
        padding: 10px;
        height: fit-content;
        font-size: 30px;
        font-weight: 500;
    }
    
    .project-list {
        margin-top: 25px;
        gap: 25px;
    }
    
    .project {
        min-height: 50px;
        padding: 30px 30px 50px 30px;
    }
    
    .project:hover {
        transform: scale(1.01);
    }
    
    .project h1 {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 1;
    }
    
    .project p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .project a {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        display: block;
        width: fit-content;
        margin-top: 5px;
    }
}

@media (max-width: 1200px) {
    .container {
        margin-top: 35px;
        row-gap: 35px;
        margin-bottom: 50px;
    }
    
    .dark-mode {
        padding: 5px 10px;
        width: fit-content;
        height: fit-content;
    }
    
    .dark-mode:hover {
        transform: scale(1.05);
    }
    
    .personal-info {
        width: 80%;
        min-height: 100px;
        padding: 25px;
        gap: 25px;
        flex-wrap: wrap;
    }
    
    .personal-info:hover {
        transform: scale(1.01);
    }
    
    .personal-info > div {
        padding: 20px 30px;
        min-width: 400px;
    }
    
    .personal-info > div:hover {
        transform: scale(1.01);
    }
    
    .about h1 {
        font-weight: 500;
        font-size: 35px;
    }
    
    .about h2 {
        font-weight: 500;
        font-size: 22px;
        margin-top: 40px;
    }
    
    .about-detail {
        font-size: 18px;
        margin-top: 30px;
    }
    
    .about p {
        margin: 10px 0;
        font-weight: 500;
    }
    
    .contact h1 {
        font-size: 35px;
    }
    
    .contact span, .contact p {
        font-size: 18px;
        font-weight: 500;
    }
    
    .contact span {
        padding: 2.5px 5px;
        font-weight: 500;
    }
    
    .contact i {
        font-size: 35px;
        margin-right: 5px;
        margin-bottom: 28px;
    }
    
    .contact i:hover {
        transform: scale(1.1);
    }
    
    .contact-page {
        margin-top: 50px;
    }
    
    .contact-page h1 {
        margin-bottom: 35px;
    }
    
    .education h1, .skills h1 {
        font-size: 35px;
    }
    
    .university {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 18px;
    }
    
    .degree {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 18px;
    }
    
    .major {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 18px;
    }
    
    .year {
        font-size: 25px;
        font-weight: 600;
    }
    
    .gpa-header {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 18px;
    }
    
    .gpa {
        font-weight: 700;
        font-size: 18px;
        padding: 5px 10px 5px 0;
    }
    
    .education h2 {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 35px;
    }
    
    .education p {
        font-size: 18px;
        font-weight: 500;
    }
    
    .skills {
        gap: 18px;
    }
    
    .skills > div {
        min-height: 50px;
        padding: 10px 20px 20px 20px;
    }

    .skills h2 {
        font-size: 20px;
    }
    
    .skill-list {
        gap: 10px;
    }
    
    .skill-list div{
        padding: 2.5px 5px;
        width: fit-content;
        height: fit-content;
        font-size: 16px;
        font-weight: 500;
    }
    
    .lang-list {
        font-weight: 500;
        font-size: 16px;
    }
    
    .projects {
        width: 80%;
        min-height: 100px;
        padding: 25px;
        gap: 18px;
    }
    
    .projects:hover {
        transform: scale(1.01);
    }
    
    .project-header {
        padding: 10px;
        height: fit-content;
        font-size: 30px;
        font-weight: 500;
    }
    
    .project-list {
        margin-top: 25px;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .project {
        min-height: 50px;
        padding: 30px 30px 50px 30px;
    }
    
    .project:hover {
        transform: scale(1.01);
    }
    
    .project h1 {
        margin-bottom: 40px;
        font-size: 25px;
        line-height: 1;
    }
    
    .project p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .project a {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 500;
        display: block;
        width: fit-content;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 35px;
        row-gap: 35px;
        margin-bottom: 50px;
    }
    
    .dark-mode {
        padding: 5px 10px;
        width: fit-content;
        height: fit-content;
        font-size: 14px;
    }
    
    .dark-mode:hover {
        transform: scale(1.05);
    }
    
    .personal-info {
        width: 80%;
        min-height: 100px;
        padding: 25px;
        gap: 25px;
        flex-wrap: wrap;
    }
    
    .personal-info:hover {
        transform: scale(1.01);
    }
    
    .personal-info > div {
        padding: 20px 30px;
        min-width: 250px;
    }
    
    .personal-info > div:hover {
        transform: scale(1.01);
    }
    
    .about h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 1;
    }
    
    .about h2 {
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
        line-height: 1;
    }
    
    .about-detail {
        font-size: 16px;
        margin-top: 30px;
    }
    
    .about p {
        margin: 10px 0;
        font-weight: 500;
    }
    
    .contact h1 {
        font-size: 28px;
    }
    
    .contact span, .contact p {
        font-size: 14px;
        font-weight: 500;
    }
    
    .contact span {
        padding: 2.5px 5px;
        font-weight: 500;
    }
    
    .contact i {
        font-size: 35px;
        margin-right: 5px;
        margin-bottom: 28px;
    }
    
    .contact i:hover {
        transform: scale(1.1);
    }
    
    .contact-page {
        margin-top: 50px;
    }
    
    .contact-page h1 {
        margin-bottom: 35px;
    }
    
    .education h1, .skills h1 {
        font-size: 28px;
        line-height: 1;
    }
    
    .university {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 10.5px;
    }
    
    .degree {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 10.5px;
    }
    
    .major {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 10.5px;
    }
    
    .year {
        font-size: 16px;
        font-weight: 600;
    }
    
    .gpa-header {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .gpa {
        font-weight: 700;
        font-size: 14px;
        padding: 5px 10px 5px 0;
    }
    
    .education h2 {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 35px;
    }
    
    .education p {
        font-size: 12px;
        font-weight: 500;
    }
    
    .skills {
        gap: 18px;
    }
    
    .skills > div {
        min-height: 50px;
        padding: 10px 20px 20px 20px;
    }

    .skills h2 {
        font-size: 18px;
    }
    
    .skill-list {
        gap: 10px;
    }
    
    .skill-list div{
        padding: 2.5px 5px;
        width: fit-content;
        height: fit-content;
        font-size: 12px;
        font-weight: 500;
    }
    
    .lang-list {
        font-weight: 500;
        font-size: 16px;
    }
    
    .projects {
        width: 80%;
        min-height: 100px;
        padding: 25px;
        gap: 18px;
    }
    
    .projects:hover {
        transform: scale(1.01);
    }
    
    .project-header {
        padding: 10px;
        height: fit-content;
        font-size: 30px;
        font-weight: 500;
    }
    
    .project-list {
        margin-top: 25px;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .project {
        min-height: 20px;
        padding: 30px 30px 50px 30px;
    }
    
    .project:hover {
        transform: scale(1.01);
    }
    
    .project h1 {
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 1;
    }
    
    .project p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .project a {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        display: block;
        width: fit-content;
        margin-top: 5px;
    }
}

@media (max-width: 412px) {
    .container {
        margin-top: 30px;
        row-gap: 30px;
        margin-bottom: 50px;
    }
    
    .dark-mode {
        padding: 5px 10px;
        width: fit-content;
        height: fit-content;
        font-size: 12px;
    }
    
    .dark-mode:hover {
        transform: scale(1.05);
    }
    
    .personal-info {
        width: 80%;
        min-height: 100px;
        padding: 15px;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    .personal-info:hover {
        transform: scale(1.01);
    }
    
    .personal-info > div {
        padding: 15px 20px;
        min-width: 150px;
    }
    
    .personal-info > div:hover {
        transform: scale(1.01);
    }
    
    .about h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
    }
    
    .about h2 {
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
        line-height: 1;
    }
    
    .about-detail {
        font-size: 13px;
        margin-top: 30px;
    }
    
    .about p {
        margin: 10px 0;
        font-weight: 500;
    }
    
    .contact h1 {
        font-size: 24px;
    }
    
    .contact span, .contact p {
        font-size: 11.5px;
        font-weight: 500;
    }
    
    .contact span {
        padding: 2.5px 5px;
        font-weight: 500;
    }
    
    .contact i {
        font-size: 25px;
        margin-right: 5px;
        margin-bottom: 28px;
    }
    
    .contact i:hover {
        transform: scale(1.1);
    }
    
    .contact-page {
        margin-top: 50px;
    }
    
    .contact-page h1 {
        margin-bottom: 25px;
    }
    
    .education h1, .skills h1 {
        font-size: 24px;
        line-height: 1;
    }
    
    .university {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 12px;
    }
    
    .degree {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 9.5px;
    }
    
    .major {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 10.5px;
    }
    
    .year {
        font-size: 14px;
        font-weight: 600;
    }
    
    .gpa-header {
        padding: 5px 10px;
        font-weight: 500;
        font-size: 12px;
    }
    
    .gpa {
        font-weight: 700;
        font-size: 12px;
        padding: 5px 10px 5px 0;
    }
    
    .education h2 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .education p {
        font-size: 10px;
        font-weight: 500;
    }
    
    .skills {
        gap: 18px;
    }
    
    .skills > div {
        min-height: 50px;
        padding: 10px 20px 20px 20px;
    }

    .skills h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .skill-list {
        gap: 10px;
    }
    
    .skill-list div{
        padding: 2.5px 5px;
        width: fit-content;
        height: fit-content;
        font-size: 12px;
        font-weight: 500;
    }
    
    .lang-list {
        font-weight: 500;
        font-size: 16px;
    }
    
    .projects {
        width: 80%;
        min-height: 100px;
        padding: 15px;
        gap: 15px;
    }
    
    .projects:hover {
        transform: scale(1.01);
    }
    
    .project-header {
        padding: 10px;
        height: fit-content;
        font-size: 20px;
        font-weight: 500;
    }
    
    .project-list {
        margin-top: 25px;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .project {
        min-height: 20px;
        padding: 20px 20px 30px 20px;
    }
    
    .project:hover {
        transform: scale(1.01);
    }
    
    .project h1 {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1;
    }
    
    .project p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .project a {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        display: block;
        width: fit-content;
        margin-top: 5px;
    }
}

